---
# layout: splash
layout: home
author_profile: true
permalink: /
date:
header:
  overlay_image: /fracnetwork007_a2_freq10Hz_dispx_cut.png # /assets/images/13248u-1280-square.jpg
  overlay_filter: 0.1
  cta_label: "Explore my Simulation Portfolio <i class='fas fa-chevron-circle-right'></i>"
  cta_url: "/portfolio/"
  caption:
excerpt: 'I am a Computational Scientist with expertise in numerical solution
of mathematical models described by Partial Differential Equations.
I am interested in particular in Geoscientific and Biomedical applications.'
feature_row:
  - image_path: /assets/images/12881v.jpg
    alt: "about"
    title: "About the school"
    excerpt: "The Local Preservation School is a community-based project with opportunities for people from all backgrounds to take part."
    url: "/about/"
    btn_label: "Learn More"
  - image_path: /assets/images/18659u.jpg
    alt: "teach"
    title: "Tools for teaching"
    excerpt: "Our resources can be reused and adapted for workshops, trainings, and courses. Please explore our collection and or share your own educational resources."
    url: "/teach/"
    btn_label: "Learn More"
  - image_path: /assets/images/11929u.jpg
    alt: "100% free"
    title: "Free and open education"
    excerpt: "Open educational resources are teaching and learning materials that are free and online for everyone: teachers, students, and independent learners."
    url: "/open-education/"
    btn_label: "Learn More"
#intro:
#  - excerpt: 'Follow for updates on the school &nbsp; [<i class="fab fa-twitter"></i> @localpast](https://twitter.com/localpast){: .btn .btn--twitter}'
---

<!--

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

-->

<!--

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

-->

{% include paginator.html %}

